*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/downloadutil/build
/downloadutil/downloadutil.iml
/build
/captures
.externalNativeBuild
.idea/misc.xml
.gradle
/.idea
.idea
/cache
*.log
uml
*.swp
py/.history